/*center for sharing datas*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.wrap {
	padding: 15px;
}
 .center {
 	/* height: 200px; */
 	border:2px solid red;
 	margin-top: 5px;
 	display: flex;
 	flex-wrap: wrap;
 	border:2px solid #343A40;
 }
 .name {
 	margin-left: 5px;
 	font-size: 25px!important;
 	
 }
 /*.center > div,.menu >div {
 	margin-left: 3px;
 }*/
 .my {
	margin-left: 0!important;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	border-right: 2px solid #343A40;
	/*border-left: 2px solid #343A40;*/

 }
 .user_data p{
 	text-align: center;
 }
 .user_data{
 	flex-grow: 4;
 }
 ul > li {
 	list-style: none;

 }
 .my_list{
 	display: flex;
 	padding: 0;
 	margin: 0;
 	justify-content: center;
 	border-top: 2px solid #343A40;
 }
 .menu {flex-grow: 5;display: flex;margin: 9px;border: 4px outset;}
 .top {
 	/* position: relative; */
 	/* display: flex; */
 	flex-direction: column;
 	flex-grow: 3;
 	/* border-bottom: 2px solid #343A40; */
 	}
 .right {
 	flex-grow: 3;
 }
 .pub{
 	display: flex;
 	padding-right: 20px;
 	margin-right: 4px;
 	height: 60px;
 	background:#343A40;
 	align-items: center;
	border: 1px solid #fff;
 }
.img{
	width: 60px;
	height: 60px;
	margin-right: 5px;
	flex-grow: 1;
}
.pub textarea {
	flex-grow: 8;
	width: 95%;
	max-height: 50px;
	resize: none;
	padding: 10px;
	margin-right: 5px;
	height: 100%;
	border:none;
	outline: none;
}
.img img{
	width: 100%;
	height: 100%;
	border-radius: 30%;
	padding: 3px;
	object-fit: cover;
}
.types {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	height: 40px;
	margin-top: 20px;
}
.types  label{
	text-align: center;
 	/*padding: 4px 0 6px;*/
 	margin: 0!important;
   /* background: red; */
    color: #fff;
	position: absolute;
	display: block;
/*	width: 60px;
	height: px;*/
	left: 0;
	top:-19px;
	
}
.info{
	height: 60px;
	text-align: center;
	margin-top: 10px;
	color: green;
	font-size: 40px;
}
.types input {
	display: none;
}
.types li:first-child {
	position: relative;
	flex-grow:2;
	width: 60px;
}
.types>li {
	/*flex-grow: 3;*/

}
.share {
	margin-right: 5px; 
}
/*post_img _comment;*/
.img_post_comment {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #343A40;

}
.img_post_comment textarea {
	resize: none;
	padding-left: 10px;


}
.img_post_comment p {
	height: 35px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.buttons {
	display: grid;
	grid-template-columns: repeat(2, minmax(110px,180px));
	grid-column-gap: 15px;
	justify-content: center;
	/*height: 38px;*/
	

}
/*<!-- dinamicaly created posts -->*/
.posts {
	text-align: center;
}
.post_result{
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-top: 40px;	
}
.post_result+hr {
	/*margin-top: 40px;*/
	max-width: 500px;
	height: 2px;
	margin: 30px auto 40px!important;
}

.one i {
	font-size: 25px;
	color: blue;
}
.img_plus_post {

}
.one {
	border: 1px solid gray;
	margin: 15px;
}
.one img{
	width: 100%;
	height: 80%;
	object-fit: cover;
}
.coment_pl_like textarea{
	width: 240px;
	height: 35px;
	resize: none;
	border-radius: 4px;
}
.coment_pl_like {
	display: flex;
	justify-content: space-between;
}
.comments_btn {
	border-top : 2px solid gray;
	padding-top: 5px;
	background: #8c7e7e;
}

/*coments show styling*/
.coment_res {
	background: #d3c4c4;
	margin-bottom: 3px;
}
.coment_res .com_inf {
	display: flex;
	border: 1px solid #d3c4c4;
	margin-bottom: 5px!important;
	/*margin-bottom: 5px!important;*/

}
.com_inf img{
	width: 40px;
	height: 40px;
	border-radius: 3px;
	margin-right: 15px;
	object-fit: cover;

}
.com_source {
	border-top: 1px solid #fff;
}
.com_source .p1 {
	margin-bottom: 4px!important;
	padding-left: 4px;
	text-align: left;
	font-size: 13px;
}
.com_source .p2 {
	margin-bottom: 8px!important;
	text-align: right;
	padding-right: 10px;
	font-size: 13px;
}

#home{
	max-width: 500px
}
