.options {
	display: flex;
	justify-content: flex-end;
}
.fr_wrap {
	display: flex;
	/*justify-content: space-between;*/
	background: #f4ebeb;
}
.fr_info {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 300px;
	border-right: 2px solid #ddd;
	padding-right: 5px;
}
.fr_img_wr {
	width: 100%;
	height: 100%;
}
.fr_info img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fr_info p {
	font-size: 20px;
	margin-top: 10px;
	margin-left: 5px;
}
.fr_right {
	flex-basis:450px;
	padding-right: 2px
}
/*#menu5 {
	margin-left: -40px;
}*/

.post1 {
	width: 400px;
}
.comment {
	width: 280px!important;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.comments_btn {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 2px 0 2px;
}
.img_plus_post p {
	border-bottom: 1px solid #343A40;
	padding-left: 5px;
}
.time {
	text-align: right;
	font-size: 15px;
	margin-top: 8px;
}
.gen_post {
	border: 1px solid #343a40;
}
.post_result {
	display: flex;
	justify-content: center;
	margin: 0!important;
}
/*menu2 friend friends list show*/
/*.about {
	display: flex;
	justify-content: flex-start;
}*/
.fr_fr_list {
	justify-content: space-between;

}
.overal_fr  {
	/*flex-grow: 1;*/
	justify-content: center;
	/*flex-basis: 500px;*/
}
.mutual_list {
/*	flex-basis: 500px;
*/	/*flex-grow: 1;*/
}
.comon {
	width: 115px;
	min-height: 180px;
	align-items: center;
}
.ul1{
	width: 115px;
}
.for_pic {
	height: 100px;
}
/*.ul1 {
	width: 100%;
	height: 100%;
}*/
.ul1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;	
}
.for_name p {
	font-size: 15px;
	line-height: 13px;
	margin-top: 5px;
	padding-left: 5px;
	min-height: 35px;
	width: 100px;
	margin-bottom: 3px!important;
	color: #365899; 
}
.for_name {
	/*align-items:center;*/
	justify-content: center;
}
.for_name button {
	width: 100px;
	background: #365899;
	color: #fff;
	outline: none;
	border: none;
	font-size: 14px;
	padding: 2px 0 3px;
}
.add_frr_remove:focus, .del_frr{
	outline: none;
}
.is_mutual {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 23px;
	width: 100%;
	line-height: 11px;
	font-size: 12px;
	color: #6b3419;
	padding-left: 5px;
	/*margin-bottom: 5px;*/
}
/*.del_frr {
	background: red!important;
}*/
/* image comments*/
.comm{
	display: flex;
	flex-direction: column;
}
.img_com_inf {
	height: 30px;
	padding: 5px 5px!important;
	margin-bottom: 3px;
}
.img_com_inf img {
	width: 25px;
	height: 25px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 12px;
}
.img_p1 {
	margin-bottom: 3px;
	padding-left:5px;
	font-size: 14px;
}

.img_com_inf li:last-child{
	margin-left: 6px;
	font-size: 13px;
}
.img_p2 {
	font-size: 10px;
	text-align: right!important;
	margin:2px 5px!important;
	color: blue;
}
.img_coment_res  {
	background: #999966;
	margin-top: 1px;
}