
.btns {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #e5cece77;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	opacity: 0;
	transition:.3s;
}
.btns button {
	width: 60px;
	height: 30px;
	background: #351818;
	color: #fff;
	border: none;
	margin-left: 3px;
	margin-bottom: 25px;
	transition:.3s;
	

}
.btns button:focus {
	outline: none;
}
.del_img {
	transform:translateX(-80px);
	/*transition:.8s;*/
}
.set_img {
	transform:translateX(80px);
	/*transition:.8s*/;
}
.img_wrap:hover .btns{
	opacity: 1;
	
}
.btns:hover button {
	transform:translateX(0px);
	transition:.8s;
}
#plus_img {
	display: none;
}
.label1 {
	width: 100px;
	height: 35px;
	background: #542d2d;
	color: #fff;
	padding: 5px;
}
.wrapper, .fr_img_show{	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.img_wrap {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 5px;

}
.img_wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.icons {
	z-index: 4!important;
}
.icons span {
	color: #fff;
	font-size: 14px;
	font-style: italic;
	bottom: 102%;
	left: 48%;
	display: none;
}
.img_wrap:hover .icons span{
	display: block;
}
.ex {
	position: absolute;
	color: blue;
	font-size: 30px;
}


.modal-dialog {
    max-width: 80%!important;
   	height: 500px!important;
    margin: 2px!important;
    position: absolute!important;
    top: 0!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
    margin: 30px auto auto!important;
  }
  .view_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 5px
}
.view_img {
  	flex-basis: 400px;
  	flex-grow: 1;
  	height: 100%;
  	padding:5px 5px 30px;
  }
  .modal-content {
  	height: 100%!important;
  }
  
  
  ._aq {
  	/*width: 100%;*/
  	height: 95%;

  }

.fl_fl {
	justify-self:flex-start;
	flex-basis: 300px;
	text-align: center;
}
.comm {
	max-height: 250px;
	overflow-y: scroll;
	border: 1px solid #ddd;
	line-height: 12px;
}
.comm p{
	text-align:left;
}
#ttt {
	min-height:30px;
	max-height: 60px;
	padding-left: 10px;
	border: 1px solid #ddd;
	margin-top: 10px;
	outline: none;

}
.test {
    
    height: 35px;
    
    background: #f5f5f5;
    border: 2px solid #ddd;
    padding: 5px;
    outline: none;
    border-radius: 6px;

}

.test:before {
    content: attr(placeholder);
    color: #555; 
}

.test:focus:before {
    content: "";
}
