.pass{
	max-width: 420px;
	min-height: 150px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	padding: 20px;
}

.pass form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pass form label {
	margin: 0!important;
}
.pass input {
	width: 200px;
	flex-basis: 35px;
}
.pass button {
	margin-top: 10px;
}
.fr_click_pass {
	position: absolute;
	list-style: none;
	
}
.ul{
	display: relative;
}