
*{
	box-sizing: border-box;
}
.vid{
	width: 100%;
	height: 300px;
	object-fit: fill;
}
.log_out {
	cursor: pointer;
}
.online1 > i {
	color: #49cc5f;
}
.parent{
		display: grid;
		grid-template-columns: minmax(320px,2fr) minmax(40px, 4fr) 4fr;
		grid-column-gap: 20px;
	}
.header {
	display: flex;
	justify-content: space-between;
	position: relative;

}
.header > *{
	position: absolute;
}
.dislike, .like {
	width: 40px!important;
	height: 40px!important;
	margin: 0!important;
	padding: 0!important;
}
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4px;
		border-bottom: none!important;
}
.coment_pl_like  {
	padding-left: 5px;
}
.post_result1 {
	background: #FFFFCC;
	display: flex;
	flex-direction: column;
	margin-top: 20px!important;
}
.img_plus_post {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.searching{
	position: absolute;

	z-index: 4;
	right: 10%;	
	flex-basis: 400px;
	align-content: center;
	
}

/*.searches1 {
	opacity: 0;
}*/
/*.searches1.eee{
	display: block;
}*/
.searches {
	position: absolute;
	right: 10%;
	width: 400px;
	height: 300px;
	overflow-y: scroll;
	background: #ddd;
}
.inner{
	padding: 2px!important;
	margin: 2px 2px 2px!important;
	display: grid;
	grid-template-columns:6fr 2fr 2fr; 
	grid-row: 40px;
	grid-column-gap: 2px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	list-style: none;
	border: 1px solid #78a3db;
	position: relative;
}
.inner li:first-child{
	justify-self: start;
}
.inner li:nth-child(2),.inner li:nth-child(3){
	justify-self: end!important;
}
/*.inner li:last-child{
	position: relative;
}*/
.inner img{
	width: 40px;
	height: 40px;
	object-fit: cover;
} 
.ggg{
	z-index: 2;
} 
.req_info {
	position: absolute;
	left:0;
	background: #6d323288;
	color: #fff;
	width: 80%;
	height: 40px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.req_info span {
	position: absolute;
	top: 23px;
	padding-right: 2px;
	font-size: 12px;
	font-style: italic;
	right: 0;
	
}



/**********/
.wrap{
	width: 300px;
	min-height: 300px;
	border: 1px solid red;
	position: relative;
	}
.wrap img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.my_form{
	height: 100%;
	width:100%;
}
.my_form label{
	text-align: center;
 	padding: 5px 0 5px;
 	margin: 0!important;
    background: red; 
    color: #fff;
	position: absolute;
	display: block;
	width: 100px;
	right: 2%;
	bottom:2%;
}
.add_img {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 0;
	top: 0;
	background: #cc993399;
	opacity: 0;
	transition: .4s
}
.add_img:hover{
	opacity: 1;
}
.user_data{
	/*position: absolute;
	top: 100%;*/
	margin-bottom: 25px!important;
}
label{
	margin: 10px 0 3px!important;
}
.ch_data{
	max-width: 370px;
	display: flex;
	flex-direction: column;
	flex-basis: 35px;
	align-items: center;
	position: absolute;
	z-index: 100;
	padding: 10px 30px 5px;
	background: #cccc66;
	top: 90px;
	left: calc(50% - 99px);
}
.ch_data button{
	width: 160px;
	height: 30px;
	padding: 0!important;

}
.ch_data input {
	padding-left: 5px;	
}
.inctance_bg{
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #ffffcc88;
	display: none;
}
/*navbar*/
.navbar{
	justify-content: space-between!important ;
}

/*request results*/

.req_inner{
	padding: 2px!important;
	margin: 2px 2px 2px!important;
	display: grid;
	grid-template-columns:4fr 2fr; 
	grid-template-rows: 35px 35px;
	grid-row: 40px;
	grid-column-gap: 2px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	list-style: none;
	border: 1px solid #78a3db;
	background: #ddd;

}
a {
	text-decoration: none!important;
	outline: none;
}
.req_inner.req{
	grid-template-columns:4fr 2fr; 
	grid-template-rows: 20px 35px;
	grid-gap: 3px;

}
.req_inner.fr{
	grid-template-columns:4fr 2fr; 
	grid-template-rows: 20px 35px;
	grid-gap: 3px;

}
.friend_view_hide{
	border: 1px solid #343A40; 
	padding: 3px;
	
}
.req_inner.fr {
	margin:2px 0!important;
}
.friend_view {
	display: none;
}
.searches, .searches1, .friend_view, .msg_info {
	right: 0;
	top: 0;
}
.friend_search {
	width: 340px;
	height: 40px;
	margin-top: 5px;
	border: 1px solid blue;
}
.req_inner.req img, .req_inner.fr img {
	width: 110px;
	height: 61px;
	object-fit: cover;
}
.req_inner.req li:nth-child(1), .req_inner.req li:nth-child(2){
	border-bottom: 1px solid #99afe5;

}
.req_inner.req li:nth-child(3){
	justify-self: end;
}
.req_inner.req li:nth-child(4){
	justify-self: start;
	
}
.req_inner.req li:nth-child(2), .req_inner.fr li:nth-child(3){
	justify-self: end;
	grid-column:2 / -1 ;
	grid-row: 1 /-1;
}
.msg_show >.req_inner.fr li:nth-child(2){
	grid-column: 2 / -1;
	grid-row: 1 / -1;
	justify-self: end;
}
.msg_show >.req_inner.fr li:nth-child(3){
	grid-column: 1 / 2;
	grid-row: 2 / -1;
	justify-self: end;
}

.msg_show p{
	padding: 10px;
	background: #420f0f;
	color: #fff;
	margin-top: 4px;
}

.req_inner.fr li:nth-child(1), .req_inner.fr li:nth-child(2){
	justify-self: start;
}
.biznes_class{
	/*grid-column: 1 / 3;
	grid-row: 0 / 1;*/
	justify-items:end;
	width: 100%;
	height: 100%;
}

.biznes_class + span {
	background: #33996688;
	position: absolute;
	left: 0;
	width: 301px;
	height: 40px;
	padding-top: 25px;
	padding-right: 2px;
	color:#fff;
	font-size: 12px;
	font-style: italic;
	text-align: right;
	cursor: pointer;
}

.req_inner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.empty {
	display: none; 
}
.empty_msg {
	background: #4f3a3a99;
	color: #fff;
	height: 60px;
	text-align: center;
	padding-top: 15px;
	margin-top: 2px;
}
/*message part*/
.msg {
	padding: 5px;
	background: #343A40;
	position: fixed;
	right: 1%;
	height: 320px; 
	bottom:1%;
	display: flex;
	flex-direction: column;
	display: none;
	z-index: 30;
}

.msg input {
	width: 85%;
	min-width: 35px;
}
.msg img {
	width: 25px;
	height: 25px;
	object-fit: cover;
	border-radius: 50%;
}
.up {
	display: flex;
	align-content: center;
	justify-content:space-between;
}
.send {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.send .fas {
	font-size: 30px;
}
.sec1{
	background: #fff;
	border-radius: 2px;
	margin-bottom: 5px;
	height: 220px;
	width: 253px;
	left:5px;
	top:14%;
	overflow: scroll;
	padding: 0!important;
}
/*.sec1{
	overflow-y: scroll;
}*/
.msg_img p{
	width: 190px;
}
.sec:focus{
	outline: none;
}
.sec {
	position: absolute;
	height: 215px;
	resize: none;
	top: 50px;
	left: -10px;
	background: transparent;
	border: none;
}
.show1{
display: none;
background: #edebd588;
padding-left: 5px;
line-height: 15px;
}

/**/
.msg_10 {
	display: flex;
	flex-direction: column;
	flex-basis: 240px;
	background: #99CC99;
}
.msg_10.frfr {
	background: #996699;

}
.msg_10.frfr > p {
	text-align: center;
	margin-bottom: 3px!important;
}
.msg_10.frfr .msg_img {
	display: flex;
	justify-content: flex-end;
	padding-top: 5px;
}
.msg_10 .msg_img {
	display: flex;
	justify-content: start;
	padding-top: 5px;

}
.msg_img p{
	margin-bottom: 3px!important;
	text-align: left;
	margin-left: 10px;
	line-height: 15px;
	font-size: 13px;
}
.msg_10.frfr>.msg_img>p{
	text-align: right;
	padding-right: 10px;
	padding-top: 5px
	

}
.msg_10 > p {
	text-align: center;
	font-size: 10px;
	color: blue;
	padding: 2px 3px 0;
	margin-bottom:3px!important;
}
/*hr {
	margin: 0 0 2px!important;
	height: 2px;
	background: blue;
}*/
/*revove friend from search */
.del_fr_from_srch{
	position: absolute;
	left: 0;
}

.btn-sm {
	width: 62px!important;
}
.kkk {
	padding: 1px!important;
}
/*message info*/
.msg_msg_info > span  {
	position: absolute;
 	color: red;
 	top:-7px;
 	right:2px;
}
.fr_list_msg{
	position: absolute;
 	color: red;
 	top:-3px;
 	left:3px;
}
.incoming_msg{
	width: 40px!important;
}
.incoming_msg i{
	font-size: 20px;
	
}
.msg_count {
	position: relative;
}
.count{
	position: absolute;
	color: red;
	left: -10px;
	top: 0;
}
/*friend message*/
 .fr_msg_info {
 	position: relative;
 }
 .fr_msg_info > span{
 	position: absolute;
 }
 .msg_show {

 }

 .activeMsg{
 	color:blue!important; 
    font-size: 30px;
    padding: 5px 3px 0;
    cursor: pointer; 	
 }
.msg_show.msg_show_hide {
	
}
 .msg_info{
 	 font-size: 30px;padding: 5px 3px 0; cursor: pointer
 }
 /*like*/
 .like {
	width: 60px;
	height: 35px;
	border: none;
	border-radius: 2px;
 }

 .like:focus {
 	outline:none ;
 }
 .likes {
 	color: blue;
 	padding-left: 5px;
 	font-size: 17px;
 }
 .head_inf {
	display: flex;
	padding: 3px;

}
.head_inf > img {
	display: block;
	width: 60px;
	height: 60px;
	object-fit: cover;
	
}
.about_fr p {
	margin: 0;
	font-size: 13px;
	text-align: right;
}

.ex {
	top: -20px;
	left: -10px;
}
/*events*/
.right-part{
	background: #FFFFCC;
	height: 500px;
}
.events {
	width: 100%;
	padding: 5px;
	border: 1px solid #ddd;
	justify-content: space-between;

}
.bt_ev {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 3px!important;
}
.ev {
	flex-basis: 50%;
} 
.bt_ev:focus {
	outline:none;
}
.btn_add {
	background:#0099FF
}
.btn_show {
	background:#00FF99;
	padding-left:20px!important;
}
.hid_ev_reg {
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	z-index: 400;
	background: #CCCCFF66;
}
.evnt_form {
	position: absolute;
	z-index: 402;
	width:500px;
	height:520px;
	top:0;
	left:0;
	right:0;
	margin:40px auto;
	background: #f2f2f7;
	border: 1px solid gray;
	border-radius: 2px;
	/*display: none!important;*/
	}
/*
.evnt_form_hide{
	display: none;
}*/
.hd{
	height: 40px;
	padding: auto;
	
}
.hd_r {
	margin-top: 3px!important;
}
.exit_ev {
	position: absolute;
	right: 5px;
	top:0;
	font-size: 20px;
}
.alias_ev {
	width: 100%;
	height: 100px;
}
.d-sz {
	font-size: 14px;
	text-align: right;
	flex-basis: 150px;
	line-height: 13px;
	margin-right: 5px;
}
.dd1-2:hover {
	background: #ddd;
}
.dd1-2 {
	flex-grow: 1;
}
.event_descrip {
	resize: none;
	height: 100px!important;
}
.fL_ev input,.fL_ev textarea{
	padding-left:3px;

}
.fL_ev > div {
	margin-bottom: 5px;
}
.event_form_send  {
	border:none;
	outline: none;
	background: #3300CC;
	color: #fff;
	height: 35px;
	border-radius:4px;
}
.dd1-2 {
	background: #fff;
	border: 1px solid gray;
}
.ev_contain {
	overflow-y: scroll;
}
.right-part {
	height: 90vh;
	border: 2px solid #343A40;
	margin-top: 5px;

}
/*.fr_ev {
	width: 220px!important;
	height: 150px!important;

}*/
.fr_ev_img  img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.evnt_ev {
	text-align: center;
}
.evnt_ev td:first-child{
	padding-left: 15px;
	text-align: left;
}
.evnt_ev td:last-child{
	padding-right: 15px;
	
}

tr {
	width: 100%;
	border-bottom: 1px solid #fff;
	display: flex;
	justify-content:space-between;
	background: #f7efef;
}
.evnt_ev td:last-child{
	text-align: right;
	
}
.fr_ev_img {
	width: 160px;
	height: 150px!important;
}
.ev_list {
	border-bottom: 6px solid #fff;
	border-top: 1px solid blue;
}
.ev_ev_lk  p{
	text-align: center;
	flex-grow: 1;
	margin-right: 10px;
	background: #edb8b8;
	padding: 5px 5px;
	border-radius: 2px;
	transition: .3s;
	cursor: pointer;
	margin-bottom: 5px!important;
	border:1px solid blue;
}
.ev_ev_lk  p:hover {
	background: #e5d5d5;
	border:1px solid #ce5f5f;
}
.ev_ev_lk  span {
	color: blue;
	margin-left: 10px;

}
.ev_info {
	padding: 5px;
	margin-bottom: 5px!important;
}
.ev_ev_lk {
	padding-left: 5px;
}
#ev_comm {
	resize: none;
	width: 180px;
	height: 35px;
	padding: 5px;
	overflow: hidden;

}
tr button {
	color: #fff;
	padding: 3px 5px;
	border-radius:3px;
	height: 35px;
	border:none;
	background: green;
	
}
tr button:focus {
	outline: none;
}
.imgg {
	width: 35px;
	height: 35px;
	

}
.imgg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.ev_ev_lk span {
	text-align: center;
}
.acpp>i {
	cursor: pointer;
	display: block;
	border:none!important;
	margin: 0!important;
	height: 30px!important;
	padding: 2px 5px;
	border: none!important;
	font-size: 13px;
} 

.acp button, .int button, .cancel button {
	padding: 2px 5px;background: #80bf8b;
	border: none;
	outline: none;
}
.acp button:focus, .int button:focus, .cancel button:focus {
	outline: none;
}
.cancel button {
	background: #f96d6d;
}
.ev_ev_lk i{
	color: #003300;
	font-size: 16px;
	margin-top: 3px;
}