*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} 
.login{
	display: flex;
	justify-content: flex-end;
	min-width: 300px;
	min-height: 80px;
	background-image: linear-gradient(#CCCCFF, #6666FF);
	border-bottom:1px solid #000066;
}
.inner{
	display: flex;
	justify-content: center;
	flex-basis: 600px;
	border-left: 1px solid #fff;
	background-image: linear-gradient(#996666, #6666FF);
	position: relative;
	left:100%;
/*transition: 1s;*/
	/*animation: down .7s 1 cubic-bezier(.32,2,.55,.27) forwards;*/
}
form { 
	position: absolute;
	right: 0;
	min-height: 80px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.transport {
	max-width: 400px;
	position: absolute;
	z-index: 2;
	flex-direction: column;	
	right: 0;
	left: 0;
	margin: auto;
	top: 200px;
	padding: 20px;
	background: #cc333399;
	border: 1px solid #fff;
	align-items: center;

}
.transport *{
	flex-basis: 35px;
	flex-grow: 1;
}
.bg_log{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
/*@keyframes down{
	0% {
		top: -80px;
	}
	
	100%{
		top:0;
	}
}*/


form *{
	margin: 5px;
	border: none;
	height: 30px;
	outline: none;
	padding-left: 5px;
	font-size: 16px;

}
form input{
	flex-basis: 250px;
	border: 1px solid #9999FF;
}
form input::placeholder {
	color: #000066;
	opacity: 0;
}
.pl::placeholder{
	opacity: 1;
	transition: opacity 1.9s;
}
.btn {
	width: 100px;
	background: #000066;
	color: #fff;
	padding: 2px 15px;
	margin-bottom: 10px;
	border: none;
	outline: none;
	height: 30px;

}
/****************************************/

.center {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	background-image: radial-gradient(#CCCCFF, #6666FF);
	padding-top: 10px;
	border-top: 1px solid #000066;
	min-height: 480px;

}
.reg {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	align-items: center;
	padding: 0 20px 0;
	margin-bottom: 10px;
	background: #CCCCFF;
	
	display: none;
}
.reg input{
	width: 100%;
	margin: 5px 0 10px;
	border: 1px solid #9999FF;
	outline: none;
	height: 35px;
	font-size: 16px;
	padding-left: 5px;
	
}
.reg label {
	color: #000066;
	opacity: 0;
}
/*.register {
	margin-bottom: 10px;
}*/
.alert{
	color: red;
}